#app-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4em auto;
  grid-template-areas:
    "header"
    "main-view";
}

router-outlet {
  display: none;
}

app-header {
  grid-area: header;
  background: green;
}

app-main-view {
  grid-area: main-view;

  display: grid;
  grid-template-columns: 10em auto;
  grid-template-rows: auto;
  grid-template-areas:
    "menu notes";
}
