#app-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 15em auto;
  grid-template-rows: 4em auto;
  grid-template-areas:
    "header header"
    "notes-lists notes-list";
}

app-header {
  grid-area: header;
  background: green;
}

app-notes-lists {
  grid-area: notes-lists;
}

app-notes-list {
  grid-area: notes-list;
  background: brown;

  display: grid;
  grid-template-rows: 3em auto;
  grid-template-areas:
    "header"
    "content";
}
